torch==1.9.0
transformers==4.9.0
asgiref==3.4.1
click==8.0.1
h11==0.12.0
uvicorn==0.14.0
fastapi==0.67.0
pydantic==1.8.2
starlette==0.14.2
typing-extensions==3.10.0.0
uvloop==0.15.3
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
idna==3.2
multidict==5.1.0
typing-extensions==3.10.0.0
yarl==1.6.3
pandas
jina
